$background : #DDDDDD
$primary : #0F52BA
$secondary : crimson
$title-text-color: #DDDDDD
$main-text-color : #222222
    
html
    background-color: $background
    overflow-x: hidden
body 
    background-color: $background
ul
    list-style: none

#img-principal
    max-height: 400px
.navbar-wrapper
    background: $primary
    width: 100%
    text-align: center
    & h2
        color: $title-text-color

.my-auto
    margin: 0px auto

.titulo-right
    margin-top: 20px

.pad-r
     height: 20px

.tc
    text-align: center 

.block
    display: block

.sticky
    position: sticky
    top: 0
.bar
    background: crimson
    height: 30px
    overflow: hidden

.front
    z-index: 100

.footer
    background: #222222
    color: #CCCCCC
    height: 300px
    overflow: hidden
    & hr
        width: 90%
        height: 0.1px
        background: crimson