@import ./_colors  
    
html
    background-color: $background
    overflow-x: hidden
body 
    background-color: $background
ul
    list-style: none

.post-container
    position: relative
    width: 100%
    height: 100%
    box-shadow: 1px 1px 6px grey
    overflow: hidden
    background-size: cover
    background-position: center
    background-image: url('https://via.placeholder.com/1920x1080?text=Visit+Blogging.com+Now')

    .post-title-card
        position: absolute
        bottom: 0px
        left: 0px
        padding: 1% 2%
        background-color: $white-color
        width: 100%
        height: 27%
        box-shadow: 1px 0px 6px grey
        transition: height 0.3s ease 0.5s   
        overflow: hidden           

        .post-info
            margin: 0px 2%
            font-size: 1.45em
            text-align: justify
    
    &:hover .post-title-card
        height: 85%
        overflow: auto

.test1
    width: 620px
    height: 410px
    margin: 5px


.test2
    width: 200px
    height: 200px
    margin: 5px


.navbar-brand
  transform: translateX(-50%)
  top: 8px
  left: 50%
  position: absolute

.navbar-wrapper
    background: $primary

.my-auto
    margin: 0px auto

.titulo-right
    margin-top: 20px

.pad-r
     height: 20px

.tc
    text-align: center 

.block
    display: block

.sticky
    position: sticky
    top: 0
.bar
    background: $secondary
    height: auto
    box-sizing: border-box
    overflow-x: scroll
    white-space: nowrap
    .section
        display: inline-flex
        margin: 0 5px
        padding: 3px 10px
        border-radius: 3px
        transition: background ease 400ms
        color: white
        &:hover
            cursor: pointer
        > *
            margin: auto

.item-carousel
    height: auto
    overflow-x: scroll
    white-space: nowrap

    > *
        display: inline-flex
    
.front
    z-index: 100

.footer
    background: #222222
    color: #CCCCCC
    height: 300px
    overflow: hidden
    & hr
        width: 90%
        height: 0.1px
        background: $secondary

.user-picture
    height: 50px
    width: 50px
    margin: 5px
    overflow: hidden
    object-fit: fill