<html>
    <header class="navbar navbar-wrapper navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="http://localhost/BDMM_Noticias/">NOTICIERO BISONTES RELOADED</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline">
                <button class="btn btn-outline-light my-1" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                <input class="form-control ml-1" type="search" placeholder="Buscar noticias...">
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-1 my-1">
                    <a class="btn btn-info" href="http://localhost/BDMM_Noticias/pages/login.html">Ingresar</a>
                </li>
                <li class="nav-item mx-1 my-1">
                    <a class="btn btn-outline-light" href="http://localhost/BDMM_Noticias/pages/register.html">Regístrate</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost/BDMM_Noticias/pages/profile.html">Perfil</a>
                        <a class="dropdown-item" href="http://localhost/BDMM_Noticias/pages/posts.html">Articulos (Editor)</a>
                        <a class="dropdown-item" href="http://localhost/BDMM_Noticias/pages/users.html">Usuarios (Editor)</a>
                        <a class="dropdown-item" href="http://localhost/BDMM_Noticias/pages/sections.html">Secciónes (Editor)</a>
                        <a class="dropdown-item" href="http://localhost/BDMM_Noticias/pages/myposts.html">Mis Articulos (Reportero)</a>
                        <a class="dropdown-item" >Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="sticky bar front" id="sections"></div>
</html>